/bootstrap/compiled.php
.env.*.php
.env.php
.DS_Store
node_modules/
frontEnd/dist/
frontEnd/.idea/
.idea
*.idea
.git
*.git
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontEnd/test/unit/coverage
frontEnd/test/e2e/reports
selenium-debug.log
.log

